<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản lý báo cáo - Brafo</title>
    <LINK REL="SHORTCUT ICON" HREF="assets/img/logo.png">

    <script type="module" src="../../my_modules/js.cookie.mjs"></script>
    <script nomodule defer src="../../my_modules/js.cookie.js"></script>

    <script type="module" src="../../my_modules/js.cookie.mjs"></script>
    <script type="module">
        import Cookies from '../../my_modules/js.cookie.mjs'
        Cookies.set('foo', 'bar')
    </script>

    <% include ../partials/head %>
</head>

<body id="page-top">

    <% include ../partials/firebase %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <% include ../partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <% include ../partials/topbar %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 id="title" class="h3 mb-0 text-gray-800">Quản lý báo cáo</h1>


                        <button style="color: ivory;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            data-target="#dialogAdd" data-toggle="modal"><i class="fas fa-user-plus"></i></i> Thêm
                            mới</button>
                    </div>

                    <div id='tableUsers'></div>

                    <ul class="pagination" id="navi" style="float: right;">

                    </ul>
                    
                    <p id="phantrang" hidden="true">1</p>

                </div>
                <!-- End of Main Content -->



            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded " href="#page-top ">
            <i class="fas fa-angle-up "></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade " id="logoutModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel "
            aria-hidden="true ">
            <div class="modal-dialog " role="document ">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <h5 class="modal-title " id="exampleModalLabel ">Ready to Leave?</h5>
                        <button class="close " type="button " data-dismiss="modal " aria-label="Close ">
                            <span aria-hidden="true ">×</span>
                        </button>
                    </div>
                    <div class="modal-body ">Select "Logout " below if you are ready to end your current session.</div>
                    <div class="modal-footer ">
                        <button class="btn btn-secondary " type="button " data-dismiss="modal ">Cancel</button>
                        <a class="btn btn-primary " href="">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialogEdit" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" style="width: 7000pt;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="tt" style="margin-top: 10px;">Sửa tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="taikhoan/suataikhoan">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtTenDN">Tên đăng nhập:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edtTenDN" name="TenDN" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtMatKhau">Mật khẩu:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edtMatKhau" name="MatKhau">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtTen">Tên người dùng:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="edtTen" name="Ten">
                                </div>
                            </div>
                            <div class="form-group" aria-orientation="vertical">
                                <label class="control-label col-sm-2" for="description">Giới tính:</label>
                                <div class="col-sm-10">
                                    <label><input id="radNam" type="radio" name="GioiTinh" value=true> Nam
                                    </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="radNu" type="radio" name="GioiTinh" value=false> Nữ</label><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">email:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="edtEmail" name="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Loại tài khoản:</label>
                                <div class="col-sm-10">
                                    <label><input id="loai1" type="radio" name="Loai" value="1"> Student
                                    </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="loai2" type="radio" name="Loai" value="2"> Teacher</label><br>
                                    <label><input id="loai3" type="radio" name="Loai" value="3"> Admin</label><br>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Kích hoạt:</label>
                                <div class="col-sm-10">
                                    <label><input id="kichhoat" type="checkbox" name="KichHoat"> Kích hoạt</label><br>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" style="background: blue;" type="button" class="btn btn-warning">
                                <button id="btnCancel" type="button" class="btn btn-warning" style="background: red;"
                                    data-dismiss="modal">
                                    <span class='glyphicon glyphicon-remove'></span> Hủy
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>


        <div class="modal fade" id="dialogAdd" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="tt2" style="margin-top: 10px;">Thêm tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="taikhoan/themtaikhoan">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtTenDN">Tên đăng nhập:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="addTenDN" name="TenDN"
                                        placeholder="Nhập tên đăng nhập..." required onfocusout="test()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="addMatKhau">Mật khẩu:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="addMatKhau" name="MatKhau"
                                        placeholder="Nhập mật khẩu..." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="addTen">Tên người dùng:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="addTen" name="Ten"
                                        placeholder="Nhập tên người dùng..." required>
                                </div>
                            </div>
                            <div class="form-group" aria-orientation="vertical">
                                <label class="control-label col-sm-2" for="description">Giới tính:</label>
                                <div class="col-sm-10">
                                    <label><input id="addRadNam" type="radio" name="GioiTinh" value=true checked=true>
                                        Nam </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="addRadNu" type="radio" name="GioiTinh" value=false> Nữ</label><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="addId">email:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="addEmail" name="Email"
                                        placeholder="Nhập địa chỉ email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Loại tài khoản:</label>
                                <div class="col-sm-10">
                                    <label><input id="addLoai1" type="radio" name="Loai" value="1" checked=true> Sinh
                                        viên </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="addLoai2" type="radio" name="Loai" value="2"> Giảng
                                        viên</label><br>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="addLoai2" type="radio" name="Loai" value="3"> Quản trị
                                        viên</label><br>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Kích hoạt:</label>
                                <div class="col-sm-10">
                                    <label><input id="addKichhoat" type="checkbox" checked=true name="KichHoat"> Kích
                                        hoạt</label><br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" style="background: blue;" type="button" class="btn btn-warning">
                                <button id="addBtnCancel" type="button" class="btn btn-warning" style="background: red;"
                                    data-dismiss="modal">
                                    <span class='glyphicon glyphicon-remove'></span> Hủy
                                </button>
                            </div>
                        </form>



                    </div>
                </div>
            </div>

        </div>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded " href="#page-top ">
            <i class="fas fa-angle-up "></i>
        </a>
</body>

<script></script>

<script type="text/javascript">

    $(document).ready(async function () {

        let users = await $.ajax({
            type: 'GET',
            url: "http://112.109.93.135:1996/users?_start=0&_limit=10",
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
        });
        let countU = await $.ajax({
            type: 'GET',
            url: "http://112.109.93.135:1996/users/count",
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
        });
        console.log(countU + ' user')

        getUsers(1)

        let nav = ''
        nav += '<li class="page-item active"><button class="page-link" onClick="getUsers(1)">1</button></li>'
        for (let i = 2; i < countU / 10 + 1; i++) {
            nav += '<li class="page-item"><button class="page-link" onClick="getUsers(' + i + ')">' + i + '</button></li>'
        }

        if (countU > 2)
            nav += '<li class="page-item"><a class="page-link" >>></a></li>'

        $('#navi').html(nav)



        $("#btnSearch").on('click', (async function () {
        }))



    })
    async function getUsers(i) {
        // $('#phantrang').text(i)
        let start = i * 10 - 9;
        let users = await $.ajax({
            type: 'GET',
            url: "http://112.109.93.135:1996/users?_start=" + start + "&_limit=10",
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
        });
        let content = '<table class="table table-hover">'
            + '<thead>'
            + '<tr style="color: #4166D5; font-size: 18px; background: white;">'
            + '<th style="width: 3px;"></th>'
            + '<th>Mã người dùng</th>'
            // + '<th>Tên người dùng</th>'
            + '<th>Giới tính</th>'
            + '<th>email</th>'
            + '<th>Số điện thoại</th>'
            + '<th>Loại tài khoản</th>'
            + '<th>Đơn vị</th>'
            + '<th>Kích hoạt</th>'
            + '</tr>'

            + '</thead> <tbody>'

        for (let user of users) {

            // console.log(user.username)
            content += '<tr><td style=" width: 3px; font-size: 20px; background: white; "><button id="' + user.username + '" type="button" class="btn btn-primary" data-target="#dialogEdit" data-toggle="modal" onClick="edit(this.id)">'
            content += '<a style="color: white;" data-target="#dialogEdit" ><i class="fas fa-user-edit "></i></a></button></td>'

            content += '<td><a id="tendn' + user.username + '">' + user.username + '</a>'
            content += '<a id="ten' + user.username + '" hidden="true">' + user.fullname + '</a></td>'
            content += '<td><a id="gioitinh' + user.username + '">'
            if (user.isMale) {
                content += 'Nam'
            } else {
                content += 'Nữ'
            }
            content += '</a></td>'
            content += '<td><a id="email' + user.username + '">' + user.email + '</a></td>'

            if (user.phoneNumber != undefined)
                content += '<td><a id="sdt' + user.username + '">' + user.phoneNumber + '</a></td>'
            else
                content += '<td><a id="sdt' + user.username + '"></a></td>'
            content += '<td><a id="loai' + user.username + '">' + user.role.name + '</a></td>'

            if (user.department != undefined)
                content += '<td><a id="donvi' + user.username + '">' + user.department + '</a></td>'
            else
                content += '<td><a id="donvi' + user.username + '"></a></td>'

            // console.log(user.confirmed)
            content += '<td><a id="cokichhoat' + user.username + '">'
            if (user.confirmed == true) {
                content += '<i class="fas fa-toggle-on" style="font-size: 25px; color: #4166D5; "></i></a>'
            } else {
                content += '<i class="fas fa-toggle-off" style="font-size: 25px; color: #4166D5; "></i></a>'
            }
            content += '<a id="kichhoat"' + user.username + '" hidden="true">' + user.confirmed + '</a></td></tr>'
        }

        content += '</tbody></table>'

        $('#tableUsers').html(content)
    }
</script>

<script>

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function edit(id) {
        let gt;
        gt = document.getElementById('tendn' + id).textContent.trim();
        document.getElementById("edtTenDN").value = gt;

        gt = document.getElementById('ten' + id).textContent.trim();
        document.getElementById("edtTen").value = gt;

        gt = document.getElementById('gioitinh' + id).textContent.trim();
        // console.log(gt)
        if (gt == 'Nam') {
            document.getElementById("radNam").checked = true;
        } else {
            document.getElementById("radNu").checked = true;
        }

        gt = document.getElementById('email' + id).textContent.trim();
        document.getElementById("edtEmail").value = gt;


        gt = document.getElementById('loai' + id).textContent.trim();
        if (gt == 'student') {
            document.getElementById("loai1").checked = true;
        } else if (gt == 'teacher') {
            document.getElementById("loai2").checked = true;
        } else {
            document.getElementById("loai3").checked = true;
        }

        gt = document.getElementById('kichhoat' + id).textContent.trim();
        console.log(gt)
        // if (gt == 'true') {
        //     document.getElementById("kichhoat").checked = true;
    }

    async function test() {
        //document.getElementById("addTenDN").value = 'hihi';
        let id = document.getElementById('addTenDN').textContent.trim();
        //alert("d");
        let test = await db.getUser(id);

        if (test == false) {
            alert('Tên đăng nhập đã tồn tại');
        }
    }
</script>

</html>