<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản lý báo cáo - Brafo</title>
    <LINK REL="SHORTCUT ICON" HREF="assets/img/logo.png">

    <script type="module" src="../../my_modules/js.cookie.mjs"></script>
    <script nomodule defer src="../../my_modules/js.cookie.js"></script>

    <script type="module" src="../../my_modules/js.cookie.mjs"></script>
    <script type="module">
        import Cookies from '../../my_modules/js.cookie.mjs'
        Cookies.set('foo', 'bar')
    </script>

    <% include ../partials/head %>
</head>

<body id="page-top">

    <% include ../partials/firebase %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <% include ../partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <% include ../partials/topbar %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 id="title" class="h3 mb-0 text-gray-800">Quản lý báo cáo</h1>

                    </div>
                    <!-- <div id="table" hidden="false"> -->
                    <div id='tablereports'></div>

                    <p id="phantrang" hidden="true">1</p>
                    <ul class="pagination" id="navi" style="float: right;">
                        <!-- </div> -->
                    </ul>
                </div>
                <!-- End of Main Content -->



            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded " href="#page-top ">
            <i class="fas fa-angle-up "></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1 " role="dialog" aria-labelledby="exampleModalLabel "
            aria-hidden="true ">
            <div class="modal-dialog " role="document ">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <h5 class="modal-title " id="exampleModalLabel ">Ready to Leave?</h5>
                        <button class="close " type="button " data-dismiss="modal " aria-label="Close ">
                            <span aria-hidden="true ">×</span>
                        </button>
                    </div>
                    <div class="modal-body ">Select "Logout " below if you are ready to end your current session.</div>
                    <div class="modal-footer ">
                        <button class="btn btn-secondary " type="button " data-dismiss="modal ">Cancel</button>
                        <a class="btn btn-primary " href="">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialogEdit" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-xl" style="width:1250px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="tt" style="margin-top: 10px;">Cập nhật báo cáo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtTitle">Nội dung:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edtTitle" name="title" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtDetail">Chi tiết:</label>
                                <div class="col-sm-10">
                                    <textarea id="edtDetail" class="form-control" name="detail" rows="2" cols="30"
                                        readonly></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-2">Loại báo cáo: </label>
                                <a id="type" class="control-label col-1.25">Loại </a>
                            </div>
                            <div class="form-group" aria-orientation="vertical">
                                <label class="control-label col-2" for="edtRoom">Phòng: </label>
                                <a id="room" class="control-label col-1.25">Phòng </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-2">Người tạo:</label>
                                <a id="user" class="control-label col-1.25">người </a>
                            </div>

                            <div id="status" class="form-group">
                                <label class="control-label col-2" for="title">Trạng thái:</label>
                                <label class="col-1.25"><input id="loai1" type="radio" name="report_status"
                                        value="5f10284f0692bf680e045567"> Đã tiếp nhận</label> &emsp;&emsp;
                                <label class="col-1.25"><input id="loai2" type="radio" name="report_status"
                                        value="5f1028590692bf680e045568"> Đang xử lý</label>&emsp;&emsp;
                                <label class="col-1.25"><input id="loai3" type="radio" name="report_status"
                                        value="5f10285d0692bf680e045569"> Đã xử lý</label>&emsp;&emsp;
                                <div class="col-sm-10">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Ghi chú:</label>
                                <div class="col-sm-10">
                                    <textarea id="edtNotes" class="form-control" name="notes" rows="2"
                                        cols="30"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <!-- <input style="background: blue;" type="button" class="btn btn-warning">hihi</input> -->
                                <button id="btnSubmit" type="button" class="btn btn-primary" style="background: blue;"
                                    data-dismiss="modal" onclick="putR()">
                                    <span class='glyphicon glyphicon-remove'></span> Cập nhật
                                </button>
                                <button id="btnCancel" type="button" class="btn btn-warning" style="background: red;"
                                    data-dismiss="modal">
                                    <span class='glyphicon glyphicon-remove'></span> Hủy
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>



        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded " href="#page-top ">
            <i class="fas fa-angle-up "></i>
        </a>
        
<!-- <% include ../partials/chatbox %> -->
</body>

<script></script>

<script type="text/javascript">

    let reportEdit
    let start
    let next

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    async function countReports() {
        let countU = await $.ajax({
            type: 'GET',
            url: "http://112.109.93.135:1996/reports/count",
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
        });
        return parseInt(countU)
    }

    async function putR() {

        reportEdit.report_status._id = $("input[name='report_status']:checked").val()
        reportEdit.notes = $('#edtNotes').val()

        let put = await $.ajax({
            type: 'PUT',
            url: 'http://112.109.93.135:1996/reports/' + reportEdit.id,
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
            data: reportEdit
        })
        getReports(next)
    }

    async function edit(id) {

        console.log('edit')

        let report = await getR(id)
        // edtTitle
        $('#edtTitle').val(report.title)
        $('#edtDetail').val(report.detail)

        $('#type').attr('href', '/loaibaocao/' + report.report_type.id)
        $('#type').text(report.report_type.name)

        $('#room').attr('href', '/phong/' + report.room.id)
        $('#room').text(report.room.name)

        $('#user').attr('href', '/taikhoan/' + report.user.id)
        $('#user').text(report.user.fullname)

        $('#edtNotes').val(report.notes)

        if (report.report_status.name == 'Đã tiếp nhận') {
            document.getElementById("loai1").checked = true
        } else if (report.report_status.name == 'Đang xử lý') {
            document.getElementById("loai2").checked = true
        } else if (report.report_status.name == 'Đã xử lý') {
            document.getElementById("loai3").checked = true
        }
        reportEdit = report
    }

    $(document).ready(async function () {

        let countR = await countReports()
        console.log(countR + ' reports')

        getReports(1)

        let nav = '<li id ="lili-1" class="page-item"><button class="page-link" onClick="getreports(-1)"><<</button></li>'
        nav += '<li id ="lili1" class="page-item"><button class="page-link" onClick="getreports(1)">1</button></li>'
        for (let i = 2; i < countR / 10 + 1; i++) {
            nav += '<li id ="lili' + i + '" class="page-item"><button class="page-link" onClick="getreports(' + i + ')">' + i + '</button></li>'
        }

        if (countR > 2)
            nav += '<li id ="lili0" class="page-item"><button class="page-link" onClick="getreports(0)">>></button></li>'

        $('#navi').html(nav)

        $("#btnSearch").on('click', (async function () {
        }))

    })
    async function getReports(i) {

        let sum = await countReports()

        let pre = parseInt($('#phantrang').text())
        next = i == -1 ? pre - 1 : i == 0 ? pre + 1 : i

        if (next > sum / 10 + 1 || next < 1) {
            return
        }
        else {
            $('#phantrang').text(next)
        }

        console.log('sum: ' + sum)
        console.log('pre: ' + pre)
        console.log('next: ' + next)


        i = next
        start = i * 10 - 9;
        if (start > sum) return
        console.log('start ' + start)
        let reports = await $.ajax({
            type: 'GET',
            url: "http://112.109.93.135:1996/reports?_start=" + start + "&_limit=10",
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
        })
        console.log(reports[0].detail)

        let content = '<table class="table table-hover">'
            + '<thead>'
            + '<tr style="color: #4166D5; font-size: 18px; background: white;">'
            + '<th style="width: 3px;"></th>'
            + '<th>Nhóm</th>'
            + '<th>Nội dung</th>'
            + '<th>Chi tiết</th>'
            + '<th>Phòng</th>'
            + '<th>Trạng thái</th>'
            + '</tr>'

            + '</thead> <tbody>'

        for (let report of reports) {

            content += '<tr><td style=" width: 3px; font-size: 20px; background: white; "><button id="' + report.id + '" type="button" class="btn btn-primary" data-target="#dialogEdit" data-toggle="modal" onClick="edit(this.id)">'
            content += '<a style="color: white;" data-target="#dialogEdit" ><i class="fas fa-edit "></i></a></button></td>'
            content += '<td><a id="nhom' + report.id + '">' + report.report_type.name + '</a></td>'
            content += '<td><a id="noiDung' + report.id + '">' + report.title + '</a></td>'
            content += '<td><a id="chiTiet' + report.id + '">' + report.detail + '</a></td>'
            content += '<td><a id="phong' + report.id + '">' + report.room.name + '</a></td>'
            if (report.report_status.name == 'Đã xử lý') {
                content += '<td><i class="fas fa-check-square" style="font-size: 25px; color: #4166D5; "></i><a>&nbsp&nbspĐã xử lý</a></td>'
            } else if (report.report_status.name == 'Đang xử lý') {
                content += '<td><i class="fas fa-tasks" style="font-size: 25px; color: #085943; "></i><a>&nbsp&nbspĐang xử lý</a></td>'
            } else if (report.report_status.name == 'Đã tiếp nhận') {
                content += '<td><i class="fas fa-save" style="font-size: 25px; color: #e74a3b; "></i><a>&nbsp&nbspĐã tiếp nhận</a></td>'
            }
        }

        content += '</tr></tbody></table>'

        $('#tablereports').html(content)
    }

    async function getR(id) {
        return await $.ajax({
            type: 'GET',
            url: 'http://112.109.93.135:1996/reports/' + id,
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            }
        })
    }

</script>

<script>

    async function test() {
        //document.getElementById("addTenDN").value = 'hihi';
        let id = document.getElementById('addTenDN').textContent.trim();
        //alert("d");
        let test = await db.getUser(id);

        if (test == false) {
            alert('Tên đăng nhập đã tồn tại');
        }
    }
</script>

</html>