<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản lý tài khoản - Brafo</title>
    <LINK REL="SHORTCUT ICON" HREF="assets/img/logo.png">

    <script type="module" src="../../my_modules/js.cookie.mjs"></script>
    <script nomodule defer src="../../my_modules/js.cookie.js"></script>

    <script type="module" src="../../my_modules/js.cookie.mjs"></script>
    <script type="module">
        import Cookies from '../../my_modules/js.cookie.mjs'
        Cookies.set('foo', 'bar')
    </script>

    <% include ../partials/head %>
</head>

<body id="page-top">

    <% include ../partials/firebase %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <% include ../partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <% include ../partials/topbar %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 id="title" class="h3 mb-0 text-gray-800">Quản lý tài khoản</h1>


                        <button style="color: ivory;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            data-target="#dialogAdd" data-toggle="modal"><i class="fas fa-user-plus"></i></i> Thêm
                            mới</button>
                    </div>

                    <div>
                        <ul class="pagination" id="tongQuan" style="float: left; color: black;">
                            14 người dùng
                        </ul>
                        <ul class="pagination" id="navi" style="float: right;">

                        </ul>
                    </div>

                    <table id="tableUsers" class="table table-hover"></table>
                    

                    <p id="phantrang" hidden="true">1</p>

                </div>
                <!-- End of Main Content -->










            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded " href="#page-top ">
            <i class="fas fa-angle-up "></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade " id="logoutModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel "
            aria-hidden="true ">
            <div class="modal-dialog " role="document ">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <h5 class="modal-title " id="exampleModalLabel ">Ready to Leave?</h5>
                        <button class="close " type="button " data-dismiss="modal " aria-label="Close ">
                            <span aria-hidden="true ">×</span>
                        </button>
                    </div>
                    <div class="modal-body ">Select "Logout " below if you are ready to end your current session.</div>
                    <div class="modal-footer ">
                        <button class="btn btn-secondary " type="button " data-dismiss="modal ">Cancel</button>
                        <a class="btn btn-primary " href="">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialogEdit" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" style="width: 7000pt;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="tt" style="margin-top: 10px;">Cập nhật tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="taikhoan/suataikhoan">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtTenDN">Tên đăng nhập:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edtTenDN" name="TenDN" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtMatKhau">Mật khẩu:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="edtMatKhau" name="MatKhau">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtTen">Tên người dùng:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="edtTen" name="Ten">
                                </div>
                            </div>
                            <div class="form-group" aria-orientation="vertical">
                                <label class="control-label col-sm-2" for="description">Giới tính:</label>
                                <div class="col-sm-10">
                                    <label><input id="radNam" type="radio" name="GioiTinh" value=true> Nam
                                    </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="radNu" type="radio" name="GioiTinh" value=false> Nữ</label><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">email:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="edtEmail" name="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Loại tài khoản:</label>
                                <div class="col-sm-5">
                                    <label><input id="loai1" type="radio" name="Loai" value="1"> Student
                                    </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="loai2" type="radio" name="Loai" value="2"> Teacher</label><br>
                                    <label><input id="loai3" type="radio" name="Loai" value="3"> Admin</label><br>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Kích hoạt:</label>
                                <div class="col-sm-10">
                                    <label><input id="kichhoat" type="checkbox" name="KichHoat"> Kích hoạt</label><br>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" style="background: blue;" type="button" class="btn btn-warning">
                                <button id="btnCancel" type="button" class="btn btn-warning" style="background: red;"
                                    data-dismiss="modal">
                                    <span class='glyphicon glyphicon-remove'></span> Hủy
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>


        <div class="modal fade" id="dialogAdd" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="tt2" style="margin-top: 10px;">Thêm tài khoản</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="taikhoan/themtaikhoan">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="edtTenDN">Tên đăng nhập:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="addTenDN" name="TenDN"
                                        placeholder="Nhập tên đăng nhập..." required onfocusout="test()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="addMatKhau">Mật khẩu:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="addMatKhau" name="MatKhau"
                                        placeholder="Nhập mật khẩu..." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="addTen">Tên người dùng:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="addTen" name="Ten"
                                        placeholder="Nhập tên người dùng..." required>
                                </div>
                            </div>
                            <div class="form-group" aria-orientation="vertical">
                                <label class="control-label col-sm-2" for="description">Giới tính:</label>
                                <div class="col-sm-10">
                                    <label><input id="addRadNam" type="radio" name="GioiTinh" value=true checked=true>
                                        Nam </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="addRadNu" type="radio" name="GioiTinh" value=false> Nữ</label><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="addId">email:</label>
                                <div class="col-sm-10">
                                    <input type="name" class="form-control" id="addEmail" name="Email"
                                        placeholder="Nhập địa chỉ email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Loại tài khoản:</label>
                                <div class="col-sm-10">
                                    <label><input id="addLoai1" type="radio" name="LoaiAdd" value="1" checked=true> Sinh
                                        viên </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="addLoai2" type="radio" name="LoaiAdd" value="2"> Giảng
                                        viên</label><br>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><input id="addLoai2" type="radio" name="LoaiAdd" value="3"> Quản trị
                                        viên</label><br>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="title">Kích hoạt:</label>
                                <div class="col-sm-10">
                                    <label><input id="addKichhoat" type="checkbox" checked=true name="KichHoat"> Kích
                                        hoạt</label><br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" style="background: blue;" type="button" class="btn btn-warning">
                                <button id="addBtnCancel" type="button" class="btn btn-warning" style="background: red;"
                                    data-dismiss="modal">
                                    <span class='glyphicon glyphicon-remove'></span> Hủy
                                </button>
                            </div>
                        </form>



                    </div>
                </div>
            </div>

        </div>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded " href="#page-top ">
            <i class="fas fa-angle-up "></i>
        </a>
</body>


<script type="text/javascript">

    let edtU

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    async function checkIsChanged() {
        let chk = await $.ajax({
            type: 'GET',
            url: 'http://112.109.93.135:1996/db-statuses/' + '5f11ebd85cec188c7faa4e64',
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            }
        })
        let val = chk.is_changed
        if (val) {
            chk.is_changed = false
            let ạ = await $.ajax({
                type: 'PUT',
                url: 'http://112.109.93.135:1996/db-statuses/' + '5f11ebd85cec188c7faa4e64',
                headers: {
                    "Authorization": 'Bearer ' + getCookie('jwt')
                },
                data: chk
            })
        }
        return val
    }

    async function countUser() {
        let countU = await $.ajax({
            type: 'GET',
            url: "http://112.109.93.135:1996/users/count",
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
        });
        return parseInt(countU)
    }

    $(document).ready(async function () {

        getUsers(1)
        window.setInterval(async function () {
            let chk = await checkIsChanged()
            console.log('new data: ' + chk)
            if (chk) {
                getUsers(1)
            }
        }, 3000)

    })

    async function getNav() {
        let countU = await countUser()
        $('#tongQuan').html('<a>Tổng cộng: ' + countU + ' người dùng</a>')
        
        console.log(countU + ' user')

        let nav = '<li id ="lili-1" class="page-item"><button class="page-link" onClick="getUsers(-1)"><<</button></li>'
        nav += '<li id ="lili1" class="page-item"><button class="page-link" onClick="getUsers(1)">1</button></li>'
        for (let i = 2; i < countU / 10 + 1; i++) {
            nav += '<li id ="lili' + i + '" class="page-item"><button class="page-link" onClick="getUsers(' + i + ')">' + i + '</button></li>'
        }

        if (countU > 2)
            nav += '<li id ="lili0" class="page-item"><button class="page-link" onClick="getUsers(0)">>></button></li>'

        $('#navi').html(nav)
    }

    async function getUsers(i) {
        console.log('getUser')
        getNav()
        let sum = await countUser()
        console.log(sum)
        let pre = parseInt($('#phantrang').text())
        let next = i == -1 ? pre - 1 : i == 0 ? pre + 1 : i

        if (next > sum / 10 + 1 || next < 1) {
            return
        }
        else {
            $('#phantrang').text(next)
        }

        console.log('sum: ' + sum)
        console.log('pre: ' + pre)
        console.log('next: ' + next)


        i = next
        let start = i * 10 - 9;
        if (start > sum) return
        console.log('start ' + start)
        let users = await $.ajax({
            type: 'GET',
            url: "http://112.109.93.135:1996/users?_start=" + start + "&_limit=10",
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            },
        });
        let content = ''
            + '<thead>'
            + '<tr style="color: #4166D5; font-size: 18px; background: white;">'
            + '<th style="width: 3px;"></th>'
            + '<th>Mã người dùng</th>'
            // + '<th>Tên người dùng</th>'
            + '<th>Giới tính</th>'
            + '<th>email</th>'
            + '<th>Số điện thoại</th>'
            + '<th>Loại tài khoản</th>'
            + '<th>Đơn vị</th>'
            + '<th>Kích hoạt</th>'
            + '</tr>'

            + '</thead> <tbody>'

        for (let user of users) {

            // console.log(user.username)
            content += '<tr><td style=" width: 3px; font-size: 20px; background: white; "><button id="' + user.id + '" type="button" class="btn btn-primary" data-target="#dialogEdit" data-toggle="modal" onClick="edit(this.id)">'
            content += '<a style="color: white;" data-target="#dialogEdit" ><i class="fas fa-user-edit "></i></a></button></td>'

            content += '<td><a id="tendn' + user.id + '">' + user.username + '</a>'
            content += '<a id="ten' + user.id + '" hidden="true">' + user.fullname + '</a></td>'
            content += '<td><a id="gioitinh' + user.id + '">'
            if (user.isMale) {
                content += 'Nam'
            } else {
                content += 'Nữ'
            }
            content += '</a></td>'
            content += '<td><a id="email' + user.id + '">' + user.email + '</a></td>'

            if (user.phoneNumber != undefined)
                content += '<td><a id="sdt' + user.id + '">' + user.phoneNumber + '</a></td>'
            else
                content += '<td><a id="sdt' + user.id + '"></a></td>'
            content += '<td><a id="loai' + user.id + '">' + user.role.name + '</a></td>'

            if (user.department != undefined)
                content += '<td><a id="donvi' + user.id + '">' + user.department + '</a></td>'
            else
                content += '<td><a id="donvi' + user.id + '"></a></td>'

            // console.log(user.confirmed)
            content += '<td><a id="cokichhoat' + user.id + '">'
            if (user.confirmed == true) {
                content += '<i class="fas fa-toggle-on" style="font-size: 25px; color: #4166D5; "></i></a>'
            } else {
                content += '<i class="fas fa-toggle-off" style="font-size: 25px; color: #e74a3b; "></i></a>'
            }
            content += '<a id="kichhoat"' + user.id + '" hidden="true">' + user.confirmed + '</a></td></tr>'
        }

        content += '</tbody>'

        $('#tableUsers').html(content)
    }

    async function edit(id) {

        console.log('edit ' + id)

        let u = await getU(id)
        console.log(u)

        $('#edtTenDN').val(u.username)
        $('#edtTen').val(u.fullname)

        if (u.isMale) {
            document.getElementById("radNam").checked = true
        } else {
            document.getElementById("radNu").checked = true
        }
        $('#edtEmail').val(u.email)
        // document.getElementById("loai1").checked = false

        $('input:radio[name="Loai"]').val('3');

        // if (u.role.type == 'student') {
        //     $('input:radio[name=Loai]').val(['1']);
        //     console.log('1')
        //     document.getElementById("loai1").checked = true
        // } else if (u.role.type == 'teacher') {
        //     document.getElementById("loai 2").checked = true
        //     $('input:radio[name=Loai]').val('2');

        // } else if (u.role.type == 'admin') {
        //     document.getElementById("loai3").checked = true
        // }

        // console.log(u.confirmed)
        // if (u.confirmed) {
        //     console.log('xac thuc roi')
        //     // $('input[name=KichHoat]').attr('checked', true);
        // } else {
        //     console.log('chưa xac thuc')
        //     // $('input[name=KichHoat]').attr('checked', false);
        // }


    }


    async function getU(id) {
        console.log('getU')
        return await $.ajax({
            type: 'GET',
            url: 'http://112.109.93.135:1996/users/' + id,
            headers: {
                "Authorization": 'Bearer ' + getCookie('jwt')
            }
        })
    }


</script>

</html>